body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.menu {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.menu img {
    max-width: 100px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu li {
    display: inline;
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.contenido {
    padding: 20px;
    text-align: center;
}

.contenido h1 {
    font-size: 36px;
}

.contenido p {
    font-size: 20px;
}
